<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Профиль пользователя: %name%</title>
	<link rel="stylesheet" href="/style/style.css">
</head>
<body>
	<div id="container">
		<div id="head-panel" class="shell">
			<div id="logo">
				<a href="/"><img src="/img/logo.png"></a>
			</div>
			<div id="menu">
				<ul>
					<li>%ulink%</li>
				</ul>
			</div>
		</div>
		<div id="profile" class="shell">
			<span>Пользователь: %name%</span>
			<br>
			<span>ID: %id%</span>
			<br>
			<span>Email: %email%</span>
			<br>
			<span>Статус: %role%</span>
			<br>
			<span>Дата регистрации: %regdate%</span>
			<br>
			<span>Последнее посещение: %visit%</span>
		</div>
	</div>
</body>
</html>