<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Регистрация пользователя</title>
	<link rel="stylesheet" href="/style/style.css">
</head>
<body>
	<div id="signin-wrap" class="shell">
		<div id="signin-title">Регистрация пользователя</div>
		<div id="notice">%notice%</div>
		<form method="POST">
			<div class="form-group">
				<label class="form-label">Имя</label>
				<input class="form-text" type="text" name="name" autocomplete="off">
			</div>
			<div class="form-group">
				<label class="form-label">E-mail</label>
				<input class="form-text" type="email" name="email">
			</div>
			<div class="form-group">
				<label class="form-label">Пароль</label>
				<input class="form-text" type="password" name="pass" autocomplete="off">
			</div>
			<div class="form-group">
				<label class="form-label">Подтвердите пароль</label>
				<input class="form-text" type="password" name="pass_confirm" autocomplete="off">
			</div>
			<div class="form-group">
				<img  class="cap" src="data:image/png;base64, %cap%"/>
			</div>
			<div class="form-group">
				<label class="form-label">Введите код с картинки</label>
				<input class="form-text" type="text" name="cap">
			</div>
			<input type="hidden" name="capcheck" value="%md%">
			<div class="form-group">
				<input class="btn btn-lg" type="submit" name="sbtn" value="Зарегистрироваться">
			</div>
		</form>
		<div id="link">
			<a href="/user/login">Войти</a>
		</div>
	</div>
</body>
</html>