<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Редактор</title>
	<link rel="stylesheet" href="/style/styleAdmin.css">
</head>
<body>
	<div id="container">
		<div class="menu shell">
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="/admin/new">Новая статья</a></li>
				<li><a href="/admin/list/a">Статьи</a></li>
				<li><a href="/admin/list/c">Комментарии</a></li>
				<li><a href="/admin/list/u">Пользователи</a></li>
				<li style="float:right;">%ulink%</li>
			</ul>
		</div>
		<div id="editor-wrap" class="shell">
			<form method="POST">
				<input type="hidden" name="id" value="%id%">
				<div class="col-form">
					<label>Заголовок</label>
					<input class="form-control" type="text" name="title" value="%title%" autocomplete="off">
				</div>
				<div class="col-form">
					<label>Ссылка</label>
					<input class="form-control" type="text" name="link" value="%link%" autocomplete="off">
				</div>
				<div class="col-form">
					<label>Описание</label>
					<textarea id="desc" class="form-control" name="desc">%description%</textarea>
				</div>
				<div class="col-form">
					<label>Статья</label>
					<textarea id="text-field" class="form-control" name="article">%article%</textarea>
				</div>
				<div class="col-form">
					<label>Статус</label>
					<select class="form-control" name="status">
						<option value="0">Черновик</option>
						<option value="1">Публиковать</option>
						<option value="2">Пункт меню</option>
					</select>
				</div>
				<div class="col-form">
					<label>Комментарии</label>
					<select class="form-control" name="comments">
						<option value="1">Включить комментарии</option>
						<option value="0">Выключить комментарии</option>
					</select>
				</div>
				<div class="shell-footer">
					<label></label>
					<input class="btn" type="submit" value="Сохранить" formaction="/admin/send">
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		
		var ta = document.getElementsByTagName('textarea');

		for (var i = 0; i < ta.length; i++){
			ta[i].setAttribute('style', 'height:' + (ta[i].scrollHeight) + 'px;overflow-y:hidden;');
			ta[i].addEventListener("input", onInput, false);
		}

		function onInput() {
			this.style.height = 'auto';
			this.style.height = (this.scrollHeight) + 'px';
		}

	</script>
</body>
</html>